.wrapperButton {
  display: flex;
  background: #650e0e;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 10%;
  border-radius: 10px;
  position: absolute;
  left: 65%;
  top: 20%;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}
